<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
   
To learn Ruby on Rails and how to build an application like this one, see the
<a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
	